@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* NAV BAR */

.header span,
ul li a {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.header {
  display: flex;
  flex: 1;
  margin-right: auto;
  font-size: 24px;
  line-height: 99.7%;
}
.jm {
  color: #8c2f39;
}
.aa {
  color: #8c2f3999;
}
.la {
  padding-left: 5px;
}
.hov:hover .aa {
  color: #8c2f39;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 24px;
  padding-bottom: 6px;
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 8px;
}
.nav-links li a {
  color: #8c2f39;
  font-size: 20px;
  line-height: 36px;
}
.nav-links li a:hover {
  color: white;
  transition: 0.3s ease-in-out;
  text-shadow: 1px 0 #8c2f39, -1px 0 #8c2f39, 0 1px #8c2f39, 0 -1px #8c2f39,
    1px 1px #8c2f39, -1px -1px #8c2f39, 1px -1px #8c2f39, -1px 1px #8c2f39;
}
#Contact{
    color: white;
    transition: 0.3s ease-in-out;
    text-shadow: 1px 0 #8c2f39, -1px 0 #8c2f39, 0 1px #8c2f39, 0 -1px #8c2f39,
      1px 1px #8c2f39, -1px -1px #8c2f39, 1px -1px #8c2f39, -1px 1px #8c2f39;
}
/* /Navbar */


.contact-header{
    margin-left: 76px;
    width: fit-content;
    height: fit-content;
}
#ch-text{
  font-family: "Anton";
  font-size: 85px;
  font-weight: 400;
  line-height: 135px;
  letter-spacing: 0em;
  text-align: left;
}
.ch-white{
  color: #fff;
  -webkit-text-stroke:2px black;
}

/* footer */
.footer-first{
    display: flex;
    justify-content: space-around;
    padding: 60px 0px;
    align-items: center;
  }
  .fh{
    font-family: "Oswald";
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    line-height: 45px;
  }
  .footer{
    background-color: #8C2F39;
    overflow-y: hidden;
  
  }
  .rem{
    color: white;
    opacity:60%;
    font-family: "Oswald";
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
  }
  .name:hover .rem{
    color: white;
    opacity:100%;
  }
  .lap{
    padding-left: 15px;
  }
  .f-link{
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
  }
  .f-links a:hover {
    color: #8c2f39;
    transition: 0.3s ease-in-out;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
      1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }
  #nl-header{
    font-family: "Anton";
    font-size: 35px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 2px;
    color: white;
  }
  .news-letter{
    width: fit-content;
    text-align: right;
  }
  #nl-subtext{
    color: #C5C5C5;
    font-family: "Roboto";
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0em;
    margin-bottom: 10px;
  }
  input{
    width: 400px;
    height: 40px;
    border: 0;
    border-radius: 7px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
  }
  input::placeholder{
    font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  }
  input[type=email]{
    box-sizing: border-box;
    padding: 0px 15px;
  }
  .btn{
    display: inline-block;
  }
  .data{
    align-items: center;
  }
  
  .button {
    display: inline-block;
    padding: 9px 24px;
    border: 1px solid #ffffff;
    border-radius: 11px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: #ffffff;
    z-index: 1;
    background-color: #8C2F39;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
        -ms-transform: translateX(-50%) scaleY(1) scaleX(1.25);
            transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
        -ms-transform: translateX(-50%) scaleY(1) scaleX(1.45);
            transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color:#8C2F39;
    ;
    border: 1px solid #ffffff;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #ffffff;
    -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #ffffff;
    -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
  .footer-second{
    display: flex;
    justify-content: space-evenly;
    padding: 26px 0px;
    align-items: center;
  }
  .socials a{
    text-decoration: none;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }
  .socials svg{
    margin-bottom: 4px;
  }

/* /footer */
.awp-text{
    font-family: "Roboto";
  font-size: 20px;
  font-weight: 550;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  width: 71%;
  
  }
.about-work{
  margin-left: 76px;
  margin-top: 25px;
  width: fit-content;
  height: fit-content;
}
.bold{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.aw-head{
  margin-top: 35px;
}
.aw-subtext{
  text-decoration: none;
  color: black;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 550;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  margin-top: 5px;
  width: 65%;
}
.aw-sub{
  margin-top: 20px;
}
.pos{
 margin-right: 70px;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  padding-top: 25px;
}
.cont{
  display: flex;
  align-items: normal;
}
.img{
    margin-right: 150px;
    margin-left: 50px;
  }
  .img img{
    height: 600px;
    margin-left: 220px;
    margin-bottom: 101px;
   
  }

/* responsive for tablet */
@media (min-width: 601px) and (max-width:961px){

    .head{
      padding-top: 75px;
    }
    .cont{
      flex-wrap: wrap;
      justify-content:left; 

    }
    .about-work{
        padding-right: 10px;
        margin-left: 30px;
    }
    .awp-text{
        font-weight: 550;
        font-size: 23px;
        line-height: 30px;
        width:auto;
        padding-right: 10px;
    }
    .pos{
        margin-right: 40px;
        font-size: 20px;
    }
    .bold{
        font-size: 26px;
    }
    .aw-subtext{
        width: auto;
        font-size: 23px;
        line-height: 30px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    .img{
      padding-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    .cont{
      display: block;
    }

    .img img{
      margin-left: 0;
        width: 507px;
        height: 581px;
    }
  
    .contact-header{
      margin-left: 30px;
    }
}

/* responsive for phone */
@media (max-width: 600px){

  #ch-text{
    font-family: "Anton";
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left
} 

.head{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    padding-top: 0px;
}
.contact-header{
    margin-left: 20px;
}
.ch-white{
  -webkit-text-stroke:1.3px black;
}
.pos{
  margin-right: 15px;
  font-size: 12px;
  white-space: nowrap;

}
.about-work{
  margin-left: 20px;
  margin-top: 0;
}
.img img{
    width: 217px;
    height: 269px;
    margin-bottom: 40px;
    margin-left: 0;
}
.cont{
  flex-wrap: wrap;
  justify-content:left; 
}
.aw-subtext{
  width: auto;
  font-size: 17px;
  line-height: 20px;
  padding-right: 10px;
  font-weight: 590;
  padding-bottom: 10px;
}
.awp-text{
  font-weight: 590;
  font-size: 17px;
  line-height: 20px;
  width:auto;
  padding-right: 10px;
}
.aw-sub{
  margin-top: 20px;
}
.aw-head{
  margin-top: 40px;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 20px;
}
.cont{
  display: block;
}
}